@font-face {
  font-family: 'iconfont';  /* Project id 3210523 */
  src: url('//at.alicdn.com/t/font_3210523_wuyooi1ctpq.woff2?t=1646297170021') format('woff2'),
       url('//at.alicdn.com/t/font_3210523_wuyooi1ctpq.woff?t=1646297170021') format('woff'),
       url('//at.alicdn.com/t/font_3210523_wuyooi1ctpq.ttf?t=1646297170021') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

